.taskform-container {
  padding: 2rem;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: auto;
}

.task-form input,
.task-form textarea,
.task-form select,
.task-form button {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.task-form button {
  background-color: #73068b;
  color: white;
  cursor: pointer;
}

.task-form button:hover {
  background-color: #9a27b4;
}
.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 0.25rem;
  display: block;
}

.success-message {
  color: green;
  margin-top: 1rem;
  font-weight: bold;
}
